{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% for post in posts %}
    	<div><p>{{ post.author.username }} says: <b>{{ post.status }}</b></p></div>
    {% endfor %}
		<hr>
		<h3>unknown devices:</h3>
		{% for stranger in strangers %}
			<div><p> unknown device with name {{ stranger.name }} device with ip {{ stranger.IP }} has MAC: {{ stranger.MAC }}
				<a href="{{ url_for('edit_device', mac=stranger.MAC) }}">Edit</a>
			</p></div>
		{% endfor %}
		<h3>my devices:</h3>
		{% for device in known_devs %}
			<div><p> device with name {{ device.name }} has MAC: {{ device.MAC }}
				<a href="{{ url_for('edit_device', mac=device.MAC) }}">Edit</a>
			</p></div>
		{% endfor %}
{% endblock %}
